{% extends 'base.html.twig' %}

{% block body %}
    <!--  APPEL MAP -->
    <div class="map" id="map"></div>
    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYpkX0pUn5lR8RKW9mbu03Svrn3Mkfrus&callback=initMap"
            async defer></script>
    <!--  FIN APPEL MAP -->
    <div class="content">
        <form class="container container-form-accueil">
            <div class="title">
                Connexion
            </div>
            <input type="text" placeholder="Adresse email...">
            <br/>
            <input type="password" placeholder="Mot de passe...">
            <br/>
            <input type="submit" value="Connexion">
        </form>
    </div>
{% endblock %}
