{% extends 'base.html.twig' %}

{% block body %}
    <div class="map" id="map"></div>

    <div class="content">
        <button id="accessDashboardButton"><a href="{{ path('dashboard') }}">{{ "dashboardAccessButton"|trans }}</a></button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYpkX0pUn5lR8RKW9mbu03Svrn3Mkfrus&callback=initMap" async defer></script>
{% endblock %}
