{% extends 'base.html.twig' %}

{% block body %}
    <div class="map" id="map"></div>
    <script>

        document.getElementById("map").style.height= document.documentElement.clientHeight+"px";
        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 48.848714, lng: 2.389425},
                scrollwheel: false,
                zoom: 8
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYpkX0pUn5lR8RKW9mbu03Svrn3Mkfrus&callback=initMap"
            async defer></script>
{% endblock %}
