<input id="userKeyword" type="text" placeholder="{{ "user.findUser.search"|trans }}">
<div class="button" onclick="searchUser('{{ path("searchUser") }}');">{{ "validate"|trans }}</div>

<div id="usersContainer">

</div>