<input id="userKeyword" type="text" placeholder="{{ "user.findUser.search"|trans }}">
<center>
<div class="button" onclick="searchUser('{{ path("searchUser") }}');">{{ "validate"|trans }}</div>
</center>

<img src="{{ asset('img/icones/loading_research_user.gif') }}" class="loading-icon-research" alt="">
<div id="result-user-research">
</div>