{% for user in users %}
    <div class="user">
        <div class="id">{{ user.id }}</div>
        <div class="name">{{ user.username }}</div>
        <div class="email">{{ user.email }}</div>
    </div>
{% else %}
    {{ "user.findUser.noUser"|trans }}
{% endfor %}