#form_new_event{

}
#form_new_event label{
    display: block;
    text-align: center;
    margin-top:15px;
    font-size: 150%;
}
#form_new_event textarea{
    width: 80%;
    border: 1px solid silver;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 120%;
    font-family: font;
    font-weight: bold;
    user-select: none;
    text-transform: uppercase;
}
#form_new_event select{
    width: 10%;
    border: 1px solid silver;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 120%;
    font-family: font;
    font-weight: bold;
    user-select: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
}
#appbundle_event_dateStart{
    overflow: hidden;
}
#appbundle_event_dateStart select{
    width:20%;
}
#appbundle_event_dateStart_date{
    width: 50%;
    float:left;
    text-align: right;
}
#appbundle_event_dateStart_date:before{
    content: "Jour : ";
}
#appbundle_event_dateStart_time{
    width: 45%;
    float:left;
    text-align: left;
    padding-left: 5%;
}
#appbundle_event_dateStart_time:before{
    content: "Heure : ";
}

#appbundle_event_dateEnd{
    overflow: hidden;
}
#appbundle_event_dateEnd select{
    width:20%;
}
#appbundle_event_dateEnd_date{
    width: 50%;
    float:left;
    text-align: right;
}
#appbundle_event_dateEnd_date:before{
    content: "Jour : ";
}
#appbundle_event_dateEnd_time{
    width: 45%;
    float:left;
    text-align: left;
    padding-left: 5%;
}
#appbundle_event_dateEnd_time:before{
    content: "Heure : ";
}
#appbundle_event_category{
    width:80% !important;
    text-align: center;
}

#form_new_event .chooseFriendContainer label
{
    display: inline-block;
    width: auto;
    margin-left: 15px;
}

.chooseFriendContainer
{
    border: solid 1px #6b9311;
    border-radius: 10px;
    width: 60%;
    margin: 5px auto 0 auto;
    padding-bottom: 10px;
}

#submitNewEvent
{
    margin-bottom: 40px;
}

/* EventCategories */

.eventCategoriesContainer
{
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 30px;
    margin-bottom: 50px;
    overflow: hidden;
}
    .categoryContainer{
        float: left;
        width: 42%;
        margin-left: 3%;
        background-color: rgba(0,0,0,0.05);
        padding:10px;
    }
    .categoryContainer div{
        text-align: left;
        font-size: 30px;
    }
        .categoryContainer div span{
            color:#729C17;
        }
    .categoryContainer .actions{
        text-align: center;
        font-size: 15px;
    }
        .categoryContainer .actions a{
            display: inline-block;
            width: inherit;
            color:white;
        }

.colorSample
{
    display: inline-block;
    width: 30px;
    height: 15px;
    border-radius: 3px;
}

.categoryContainer
{
    margin-bottom: 10px;
}

.categoryContainer a
{
    text-decoration: none;
    color: #000;
}

.categoryContainer a:hover
{
    color: #729c17;
}

.containerEvent{
    background-color: rgba(0,0,0,0.05);
    overflow: hidden;
    padding:10px;
    width:80%;
    margin:15px auto 15px;
}
.containerEvent .left{
    float: left;
    width: 50%;
}
.containerEvent .left h2{
    margin: 0;
    text-align: left;
}
.containerEvent .left .categorie{
    text-align: left;
    color:#8fc123;
    text-indent: 40px;
}
.containerEvent .infos{
    text-align: left;
    background-color: rgba(255,255,255,0.9);
    padding:3%;
    padding-left: 40px;
}
.containerEvent h3{
    text-align: left;
    font-size:150%;
    margin:0;
}
.containerEvent .left .infos{
    margin-right:10px;
    margin-top:20px;
}
.containerEvent .left .infos{
    text-align: left;
    background-color: rgba(255,255,255,0.9);
    padding:3%;
    padding-left: 40px;
    margin-top:20px;
}
.containerEvent .left .infos span{
    color: #608222;
    margin-left: 15px;
}
.containerEvent .left .infos span img{
    height:15px;
    position: relative;
    top: 2px;
}
.containerEvent .right{
    float: left;
    width: 50%;
    color:rgba(0,0,0,0.7);
}
.containerEvent .right .infos{
    margin-bottom:20px;
}
.containerEvent .right .infos img{
    position: relative;
    top:2px;
    height:15px;
}
.containerEvent .actions{
    width: 100%;
    float: left;
    margin: 20px auto 5px;
}
.containerEvent .actions a{
    width: 40% !important;
    display: inline-block;
    text-decoration: none;
}
