body {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: font;
    font-weight: bold;
    text-transform: uppercase;
}

@font-face {
    font-family: font;
    src: url("../fonts/printc.TTF");
}

/***************************************************************************************************************/
/*                                             STYLE GLOBAL                                                    */
/***************************************************************************************************************/
.container {
    border-radius: 3px;
    border: 1px solid silver;
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.content {
    position: fixed;
    z-index: 6;
    top: 0;
    width: 300px;
}

.container .title {
    font-size: 150%;
    border-bottom: 1px solid silver;
    width: 95%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

input[type=text], .container input[type=password], .container input[type=email] {
    width: 80%;
    border: 1px solid silver;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 120%;
    font-family: font;
    font-weight: bold;
    user-select: none;
    text-transform: uppercase;
}

.button, input[type=submit], a.button, button[type=submit] {
    width: 150px;
    background-color: #8fc123;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 120%;
    font-family: font;
    user-select: none;
    text-transform: uppercase;
}

.button:hover, input[type=submit]:hover, button[type=submit] {
    background-color: #729c17;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p,
.alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}





.containerEvent{
    background-color: rgba(0,0,0,0.05);
    overflow: hidden;
    padding:10px;
    width:80%;
    margin:15px auto 15px;
}
    .containerEvent .left{
        float: left;
        width: 50%;
    }
        .containerEvent .left h2{
            margin: 0;
            text-align: left;
        }
        .containerEvent .left .categorie{
            text-align: left;
            color:#8fc123;
            text-indent: 40px;
        }
        .containerEvent .infos{
            text-align: left;
            background-color: rgba(255,255,255,0.9);
            padding:3%;
            padding-left: 40px;
        }
        .containerEvent h3{
            text-align: left;
            font-size:150%;
            margin:0;
        }
            .containerEvent .left .infos{
                margin-right:10px;
                margin-top:20px;
            }
        .containerEvent .left .infos{
            text-align: left;
            background-color: rgba(255,255,255,0.9);
            padding:3%;
            padding-left: 40px;
            margin-top:20px;
        }
            .containerEvent .left .infos span{
                color: #608222;
                margin-left: 15px;
            }
                .containerEvent .left .infos span img{
                    height:15px;
                    position: relative;
                    top: 2px;
                }
    .containerEvent .right{
        float: left;
        width: 50%;
        color:rgba(0,0,0,0.7);
    }
        .containerEvent .right .infos{
            margin-bottom:20px;
        }
            .containerEvent .right .infos img{
                position: relative;
                top:2px;
                height:15px;
            }
    .containerEvent .actions{
        width: 100%;
        float: left;
        margin: 20px auto 5px;
    }
        .containerEvent .actions a{
            width: 40% !important;
            display: inline-block;
            text-decoration: none;
        }