{% extends 'base.html.twig' %}

{% block body %}

    <!--  APPEL MAP -->
    <div class="map" id="map"></div>
    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script>
        var markers = new Array();
        {% for event in events %}
            markers.push(new Array({{ event.longitude }},{{ event.latitude }}));
        {% endfor %}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYpkX0pUn5lR8RKW9mbu03Svrn3Mkfrus&callback=initMap"
            async defer></script>
    <!--  FIN APPEL MAP -->
{% endblock %}
