{% extends 'base.html.twig' %}

{% block body %}
<div class="part-left-fixed"></div>
<div class="header">
    Dashboard
</div>
<div class="content-dashboard">
    <div class="part part_left">
        <div class="item-dashboard active" data-path="{{ path('dashboardEventTab') }}">
            Mes événements
        </div>
        <div class="item-dashboard" data-path="{{ path('dashboardNewEventTab') }}">
            Créer un événement
        </div>
        <div class="item-dashboard">
            Test 1
        </div>
        <div class="item-dashboard">
            Test 1
        </div>
    </div>
    <div class="part part_right" id="content-dashboard">
        {{ render(controller("AppBundle:Dashboard:eventTab")) }}
    </div>
</div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}